.col {
    margin-top: 7px;
}
.form-label, .btn{
     display: block;
}

.btn {
     margin-top: 20px;
}
.title, .col-success, .copyright {
    text-align: center;
}
select{
    margin-bottom: 10px;
}
.code, .harapan, .jurusan
{
    margin-top:4px; 
}
#pria {
    margin-right: 20px;
}
.form-check{
    margin-top:10px;
}
li {
    display: none;
}

